.story-item {
  color: #23527c;
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px black;
  padding: 5px;
  width: 60%;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.story-item span {
  font-size: 11px;
  color: #808b96;
}

.story-item a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 350px) {
  .story-item {
    width: 100%;
  }
}
