.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.left {
  justify-content: left;
}
